{% extends 'base.html.twig' %}

{% block title %}Hello CategoriesController!{% endblock %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Libellé</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{categorie.id}}</td>
                <td>{{categorie.label}}</td>
                <td>
                    <button class="btn btn-danger remove-categorie">Supprimer</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
{{form_start(form)}}
    {{form_row(form.label)}}
    <button type)"button" class="btn btn-primary new-categorie">Valider</button>
{{form_end(form)}}
{% endblock %}
